.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #c9ada7;
}

.input {
  margin-top: 10px;
}