.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px 10px 8px 10px;
  font-weight: 700;
  color: #f2e9e4;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link:focus {
  color: #4a4e69;
  background-color: #c9ada7;
  border-radius: 15px;
}
